:root {
	--color: #111827;
	--color-link: #1d4ed8;
	--color-link-visited: #5b21b6;
	--background-color: #f9fafb;
	--border-color: #d1d5db;
	--border-highlight-color: #6b7280;
	--action-color: none;
	--action-highlight-color: #f3f4f6;
	--action-active-color: #d1d5db;
	--action-default-color: #2563eb;
	--action-default-highlight-color: #1d4ed8;
	--action-defualt-active-color: #1e40af;
}

html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: var(--color);
}
body {
	margin: 0 5em; /* TODO: Responsive */
	padding: 1em;
	font-family: system-ui;
	font-size: 11pt;
	line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
}
a {
	color: var(--color-link);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: var(--color-link-visited);
}
table {
	width: 100%;
	border-collapse: collapse;
}
th,
td {
	padding: 0.5em;
	border: solid 0.5px var(--border-color);
	border-style: solid none;
	text-align: left;
}
thead th {
	border: none;
}
thead tr:last-child th {
	border-bottom: solid 1px var(--border-highlight-color);
}
td.numeric {
	text-align: right;
	font-variant-numeric: tabular-nums;
}

/* Form */
input,
select,
textarea,
button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}
form div.control {
	display: flex;
	gap: 1em 2em;
	/* https://www2.webkit.org/show_bug.cgi?id=142968 */
	align-items: baseline;

	margin: 1.5em 0;
}
form > div.control:last-of-type {
	margin-bottom: 0;
}
form div.control label {
	min-width: 5em;
	text-align: right;
}
form div.control.actions {
	flex-direction: row-reverse;
	gap: 0.5em;
}
form div.control label + input,
form div.control label + textarea,
form div.control label + select {
	min-width: 10em;
	flex-grow: 1;
}
input[type='text'],
input:not([type]),
textarea,
select,
button,
fieldset {
	padding: 0.25em;
	border: solid 0.5px var(--border-color);
	border-radius: 0.375rem;
}
button {
	appearance: auto;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	background: var(--action-color);
}
button:hover {
	background-color: var(--action-highlight-color);
	cursor: pointer;
}
button:active {
	background-color: var(--action-active-color);
}
button.default {
	background-color: var(--action-default-color);
	border-color: var(--action-default-color);
	color: white;
	font-weight: 500;
}
button.default:hover {
	background-color: var(--action-default-highlight-color);
}
button.default:active {
	background-color: var(--action-defualt-active-color);
}
fieldset {
	margin: 1.5em -1em;
	padding: 1.5em;
}
details > fieldset {
	margin-top: -1.75em;
}
details > fieldset > legend {
	display: none;
}
details > fieldset > .control:first-of-type {
	margin-top: 2.5em;
}
